html, body {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: #f7f7f7 0% 0% no-repeat padding-box;
    font-family: Ubuntu;

}

input, button {

    outline: 0;

}

.header-content {

    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2.5px solid #ebebeb;
    color: #707070;

}

.header-content > .logo-section {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;

}

.header-content > .logo-section > div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 76px;

}

.header-content > .logo-section > div > .border {

    position: absolute;
    top: 74px;
    width: 110px;
    border-bottom: 6px solid #b5c401;
    border-radius: 6px;

}

.header-content > .logo-section > div > span:first-of-type {

    font-size: 44px;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
    transition: .3s color linear;

}

.header-content > .logo-section > div + span {

    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    margin-left: 60px;
    cursor: pointer;
    transition: .3s color linear;

}

.header-content > .profile-section {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

}

.header-content > .profile-section > .logout {

    display: flex;
    justify-content: center;
    align-items: center;

}

.header-content > .profile-section span {

    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    transition: .3s color linear;

}

.header-content > .profile-section > span {

    margin-right: 50px;
    cursor: pointer;
    transition: .3s color linear;

}

.header-content > .profile-section > .logout > span {

    margin-right: 5px;
    cursor: pointer;
    transition: .3s color linear;

}

.header-content span:hover {

    color: #9f9393;

}

body > main.container {

    display: grid;
    grid-template-columns: auto 678px 350px auto;
    grid-template-rows: 20px auto 50px 80px;
    grid-template-areas: '. . . .'
                        '. bet cart .'
                        '. . . .'
                        'footer footer footer footer';
    gap: 35px;

}

main.container > .bet {

    grid-area: bet;

}

main.container > .cart {

    background-color: #fff;
    border-radius: 10px;
    max-height: 600px;
    border: 1px solid #E2E2E2;
    grid-area: cart;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main.container > .cart > span {

    text-transform: uppercase;
    color: #707070;
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
    align-self: start;
    margin-top: 32px;
    margin-left: 18px;
    margin-bottom: 35px;

}

main.container > .cart > .bet-selections {

    display: flex;
    flex-direction: column;
    color: #868686;
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 40px;
    padding: 15px 0px 10px 0px;
    align-items: center;

}

main.container > .cart > .bet-selections::-webkit-scrollbar-thumb {

    border-radius: 12px;
    background-color: #E2E2E2;

}

main.container > .cart > .bet-selections::-webkit-scrollbar {

    width: 5px;

}

main.container > .cart > .bet-selections > .bet-content {

    display: flex;
    align-items: center;

}

main.container > .cart > .bet-selections > .bet-content > .separator-loto {

    width: 4px;
    height: 86px;
    background-color: #7F3992;
    border-radius: 100px 0px 0px 100px;
    margin: 0px 14px;

}

main.container > .cart > .bet-selections > .bet-content > .separator-mega {

    width: 4px;
    height: 86px;
    background-color: #01AC66;
    border-radius: 100px 0px 0px 100px;
    margin: 0px 14px;

}

main.container > .cart > .bet-selections > .bet-content > .separator-mania {

    width: 4px;
    height: 86px;
    background-color: #F79C31;
    border-radius: 100px 0px 0px 100px;
    margin: 0px 14px;

}

main.container > .cart > .bet-selections > .bet-content > .bet-info {

    display: flex;
    flex-direction: column;

}

main.container > .cart > .bet-selections > .bet-content > .bet-info > span:first-of-type {

    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    width: 230px;

}

main.container > .cart > .bet-selections > .bet-content > .bet-info > div {

    display: flex;
    align-items: center;
    margin-top: 9px;

}

main.container > .cart > div:nth-child(3) {

    text-transform: uppercase;
    color: #707070;
    align-self: start;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 18px;
    margin-bottom: 35px;

}

main.container > .cart > div:nth-child(3) > span:first-of-type {

    font-weight: 700;
    font-style: italic;
    margin-right: 5px;

}

main.container > .cart > div:nth-child(4) {

    background-color: #e2e2e2;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #27C383;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
    border-top: 1px solid rgb(208, 208, 208);
    transition: 0.3s background linear;

}

main.container > .cart > div:nth-child(4):hover {

    background-color: #dfdfdf;

}

main.container > .cart > div:nth-child(4) span {

    margin-right: 14px;

}

main.container > .cart > .bet-selections > .bet-content > .bet-info > div > span:first-of-type {

    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin-right: 14px; 

}

main.container > .cart > .bet-selections > .bet-content > .bet-info > div > span:nth-child(2) {

    font-size: 16px;

}

main.container > footer {

    background-color: #f7f7f7;
    grid-area: footer;
    border-top: 2.5px solid #ebebeb;
    color: #707070;

}

main.container > .bet > div:first-of-type {

    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: #707070;

}

main.container > .bet > div:first-of-type > p:first-of-type {

    margin-right: 9px;
    font-weight: 700;

}

main.container > .bet > div:nth-child(2) {

    display: flex;
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    color: #868686;
    flex-direction: column;

}

main.container > .bet > div:nth-child(2) > p {

    margin-bottom: 20px;

} 

main.container > .bet > div:nth-child(2) button {

    border-radius: 100px;
    width: 113px;
    height: 34px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;

}

main.container > .bet > div:nth-child(2) button:nth-child(1) {

    background-color: #fff;
    color: #7F3992;
    border: 2px solid #7F3992;
    margin-right: 15px;
    transition: .3s linear;

}

main.container > .bet > div:nth-child(2) button:nth-child(1):hover {

    color: #fff;
    background-color: #7F3992;

}

main.container > .bet > div:nth-child(2) button:nth-child(2) {

    background-color: #fff;
    color: #01AC66;
    border: 2px solid #01AC66;
    margin-right: 15px;
    transition: .3s linear;

}

main.container > .bet > div:nth-child(2) button:nth-child(2):hover {

    color: #fff;
    background-color: #01AC66;

}

main.container > .bet > div:nth-child(2) button:nth-child(3) {

    background-color: #fff;
    color: #F79C31;
    border: 2px solid #F79C31;
    transition: .3s linear;

}

main.container > .bet > div:nth-child(2) button:nth-child(3):hover {

    color: #fff;
    background-color: #F79C31;

}

main.container > .bet > div:nth-child(3) {

    margin-top: 28px;

}

main.container > .bet > div:nth-child(3) > p:first-of-type {

    font-size: 17px;
    color: #868686;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;

}

main.container > .bet > div:nth-child(3) > p + p {

    font-size: 17px;
    color: #868686;
    font-weight: 300;
    font-style: italic;
    margin: 0;

}

div[data-js=bet-grid] {
    
    display: grid;
    grid-template-columns: repeat(9, 65px);
    grid-template-rows: repeat(4, 68px);
    grid-template-areas: '1 2 3 4 5 6 7 8 9'
                        '10 11 12 13 14 15 16 17 18'
                        '19 20 21 22 23 24 25 26 27'
                        '28 29 30 31 32 33 34 35 36';
    gap: 10px;
    color: #fff;
    margin-top: 30px;

}

.selected-mega {

    background-color: #27C383;
    transition: .3s background linear;
    width: 55px; 
    height: 55px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
    font-weight: 500; 
    cursor: pointer; 
    transition: .2s linear;

}

.selected-mega:hover {

    background-color: #13b772;

}

.selected-loto {

    background-color: #7F3992;
    transition: .3s background linear;
    width: 55px; 
    height: 55px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
    font-weight: 500; 
    cursor: pointer; 
    transition: .2s linear;

}

.selected-loto:hover {

    background-color: #712e84;

}

.selected-mania {

    background-color: #F79C31;
    transition: .3s background linear;
    width: 55px; 
    height: 55px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
    font-weight: 500; 
    cursor: pointer; 
    transition: .2s linear;

}

.selected-mania:hover {

    background-color: #df8d2e;

}

main.container > .bet > div:nth-child(5) {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;

}

main.container > .bet > div:nth-child(5) button {

    width: 135px;
    height: 52px;
    border: 1px solid #27C383;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    color: #27C383;
    font-weight: 500;
    transition: .3s linear;
    
}

main.container > .bet > div:nth-child(5) button:hover {

    background-color: rgb(234, 230, 230);

}

main.container > .bet > div:nth-child(5) button:first-of-type {

    margin-right: 20px;

}

main.container > .bet > div:nth-child(5) > button {

    background-color: #27C383;
    border: 1px solid #27C383;
    color: #fff;
    font-weight: 700;
    transition: .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;

}

main.container > .bet > div:nth-child(5) > button:hover {

    background-color: #13b772;

}

main.container > .bet > div:nth-child(5) > button > p {

    margin-left: 10px;

}



main.container > footer {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    font-size: 15px;
    background-color: #f7f7f7;
    grid-area: footer;
    border-top: 2.5px solid #ebebeb;

} 