<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotofácil - TGL</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}" type="text/css">
</head>
<body>
    <header class="header-content">
        <div class="logo-section">
            <div>
                <span>TGL</span>
                <div class="border"></div>
            </div>
            <span>Home</span>
        </div>
        <div class="profile-section">
            <span>
                Account
            </span>
            <div class="logout">
                <span>
                    Logout
                </span>
                <i data-feather="arrow-right"></i>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="bet">
            <div>
                <p>NEW BET</p>
                <p data-js="bet-type">FOR LOTOFÁCIL</p>
            </div>
            <div>
                <p>Choose a game</p>
                <div>
                    <button>Lotofácil</button>
                    <button>Mega-Sena</button>
                    <button>Lotomania</button>
                </div>
            </div>
            <div>
                <p>Fill your bet</p>
                <p>Fill your bet Mark as many numbers as you want up to a maximum of 50. Win by hitting 15, 16, 17, 18, 19, 20 or none of the 20 numbers drawn.</p>
            </div>
            <div data-js="bet-grid">

            </div>
            <div>
                <div>
                    <button>
                        Complete game
                    </button>
                    <button>
                        Clear game
                    </button>
                </div>
                <button>
                    <i data-feather="shopping-cart"></i>
                    <p>
                        Add to cart
                    </p>
                </button>
            </div>
        </div>
        <div class="cart">
            <span>
                CART
            </span>
            <div class="bet-selections">
                
            </div>
            <div>
                <span>CART</span>
                <span>TOTAL:</span>
                <span data-js="total-value">R$ 0,00</span>
            </div>
            <div>
                <span>
                    Save
                </span>
                <i data-feather="arrow-right"></i>
            </div>
        </div>
        <footer>
            Copyright 2021 Luby Software
        </footer>
    </main>
    <script src="https://unpkg.com/feather-icons"></script>
    <script type="module" src="{{url_for('static', filename='javascript/app/feather.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='javascript/app/index.js')}}" ></script>
</body>
</html>